   /*相同样式*/
   
   .product-solu,
   .product-solu li,
   .product-solu div span,
   .index-header li a,
   .index-header b,
   .float-catalog span,
   .footer,
   .wrap li div,
   .message li div {
       box-sizing: border-box;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
   }
   
   .float-catalog,
   .inner,
   .index-nav li,
   .product-solu .more,
   .product-solu div span {
       transition: all .3s linear;
       -webkit-transition: all .3s linear;
       -moz-transition: all .3s linear;
       -ms-transition: all .3s linear;
   }
   
   .resize,
   .translate,
   .tec-form li,
   .enlarge,
   .abo-img1,
   .abo-img2 {
       transition: all .5s linear .3s;
       -webkit-transition: all .5s linear .3s;
       -moz-transition: all .5s linear .3s;
       -ms-transition: all .5s linear .3s;
   }
   
   .outer {
       width: 100%;
       height: 100%;
       position: relative;
       overflow: hidden;
   }
   
   .inner {
       overflow: hidden;
       position: relative;
   }
   
   .inner>div {
       height: 100%;
       overflow-x: hidden;
   }
   /*轮播*/
   
   .swiper-container img {
       width: 100%
   }
   
   .swiper-container {
       height: 78%;
       width: 100%;
       position: relative;
   }
   
   .swiper-wrapper {
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       left: 0;
       overflow: hidden;
   }
   
   .swiper-slide {
       height: 100%;
       float: left
   }
   
   .swiper-pagination {
       width: 100%;
       position: absolute;
       bottom: 10px;
       text-align: center;
   }
   
   .swiper-pagination-bullet {
       display: inline-block;
       width: 19px;
       height: 19px;
       margin: 0 5px;
       border-radius: 50%;
       background: rgba(0, 0, 0, .2);
       cursor: pointer
   }
   
   .swiper-pagination-bullet-active {
       background: #3a5aa7
   }
   
   ;
   /*第一页div*/
   
   .index {
       position: relative;
   }
   
   .index-nav {
       width: 1200px;
       margin: 0 auto;
       height: 20%;
       background: #FFFFFF;
   }
   
   .index-nav ul {
       height: 100%;
   }
   
   .index-nav li {
       float: left;
       width: 33.3%;
       height: 100%;
       transition: all .3s linear .1s;
       -webkit-transition: all .3s linear .1s;
       -moz-transition: all .3s linear .1s;
       -ms-transition: all .3s linear .1s;
       z-index: 10;
       position: relative;
   }
   
   .index-nav a {
       display: block;
       height: 100%;
       color: #000;
       font-size: 20px;
       position: relative;
   }
   
   .index-nav li:hover {
       background: #3a5aa7;
       transform: scale(1.2);
   }
   
   .index-nav a p {
       text-align: center;
       position: absolute;
       left: 50%;
       margin-left: -40px;
       bottom: 2%;
   }
   
   .index-nav .icon1 a {
       background: url(../img/index-nav.png) no-repeat;
   }
   
   .index-nav .icon1 a:hover {
       background: url(../img/index-nav.png) -400px 0 no-repeat;
       color: #FFFFFF;
   }
   
   .index-nav .icon2 a {
       background: url(../img/index-nav.png) 0 -133px no-repeat;
   }
   
   .index-nav .icon2 a:hover {
       background: url(../img/index-nav.png) -400px -133px no-repeat;
       color: #FFFFFF;
   }
   
   .index-nav .icon3 a {
       background: url(../img/index-nav.png) 0 -266px no-repeat;
   }
   
   .index-nav .icon3 a:hover {
       background: url(../img/index-nav.png) -400px -266px no-repeat;
       color: #FFFFFF;
   }
   /*.index-nav .icon4 a{background:url(../img/index-nav4.png) center 30%/auto 50% no-repeat;}
  .index-nav .icon4 a:hover{background:url(../img/index-nav-hover4.png) center 30%/auto 50% no-repeat;color:#FFFFFF;}
  */
   /*公共动画*/
   
   @keyframes rotate {
       from {}
       to {
           transform: rotate(360deg);
       }
   }
   
   @keyframes enlarge {
       25% {
           font-size: 20px;
       }
       50% {
           font-size: 14px;
       }
       75% {
           font-size: 20px;
       }
       100% {
           font-size: 14px;
       }
   }
   
   .resize {
       transform: scale(0);
   }
   
   .show-active .resize {
       transform: scale(1);
   }
   
   .enlarge {
       transform: scale(3);
       opacity: 0;
   }
   
   .show-active .enlarge {
       transform: scale(1);
       opacity: 1;
   }
   
   .translate {
       transform: translate(-300px, 200px);
       opacity: 0;
   }
   
   .translateL {
       transform: translateX(-500px);
       opacity: 0;
   }
   
   .translateR {
       transform: translateX(500px);
       opacity: 0;
   }
   
   .show-active .translate,
   .show-active .translateL,
   .show-active .translateR {
       transform: translate(0, 0);
       opacity: 1;
   }
   
   .con-service .img-service a {
       display: block;
       height: 100%
   }
   /*技术平台*/
   
   .tec-form {
       background: url(../img/index-tec.jpg) center center/100% 100% no-repeat;
       position: relative;
   }
   
   .tec-form p {
       color: #fff
   }
   
   .tec-form .img-service {
       background: url(../img/tec-form.png) center 40%/auto 90% no-repeat;
   }
   
   .tec-form ul {
       position: relative;
   }
   
   .tec-form li {
       position: absolute;
       width: 320px;
       font-size: 20px;
   }
   
   .tec-form li:nth-child(1) {
       top: 35px;
       left: 690px;
       text-align: left;
   }
   
   .tec-form li:nth-child(2) {
       top: 115px;
       right: 760px;
       text-align: right;
   }
   
   .tec-form li:nth-child(3) {
       top: 290px;
       left: 840px;
       text-align: left;
   }
   
   .tec-form li:nth-child(4) {
       top: 425px;
       right: 695px;
       text-align: right;
   }
   
   .tec-form li a {
       color: #91CC18
   }
   
   .tec-form li a:hover {
       color: #00A6B1
   }
   
   .tec-form .enlarge {
       transition-delay: 1.1s;
   }
   /*产品服务*/
   
   .pro-service {
       position: relative;
       background: url(../img/index-product.jpg) center center/100% 100% no-repeat;
       overflow: hidden;
   }
   
   .pro-service p {
       color: #fff
   }
   
   .pro-service ul {
       width: 500px;
       height: 540px;
       position: absolute;
       top: 50%;
       left: 50%;
       margin-left: -250px;
       margin-top: -290px;
       transition-delay: .8s;
   }
   
   .pro-service li {
       width: 360px;
       position: absolute;
       font-size: 20px;
   }
   
   .pro-service a {
       color: #91CC18;
   }
   
   .pro-service a:hover {
       color: #00A6B2;
   }
   
   .pro-service li:nth-child(1) {
       top: 60px;
       left: 415px;
       text-align: left;
   }
   
   .pro-service li:nth-child(2) {
       left: 500px;
       top: 260px;
       text-align: left;
   }
   
   .pro-service li:nth-child(3) {
       right: 405px;
       top: 60px;
       text-align: right;
   }
   
   .pro-service li:nth-child(4) {
       left: 435px;
       top: 420px;
       text-align: left;
   }
   
   .pro-service li:nth-child(5) {
       right: 510px;
       top: 260px;
       text-align: right;
   }
   
   .pro-service li:nth-child(6) {
       top: 420px;
       right: 450px;
       text-align: right
   }
   
   .pro-service img {
       width: 450px;
       margin: 20px;
       animation: rotate 5s linear infinite
   }
   /*人才招聘*/
   
   .employ-talent {
       background: url(../img/index-emp.jpg) center center/100% 100% no-repeat;
   }
   
   .employ-talent p {
       color: #3d6dcc;
   }
   
   .employ-talent .img-service {
       background: url(../img/index-emp2.png) center 30%/auto 50% no-repeat;
       position: relative;
   }
   
   .employ-talent a {
       display: block;
       position: absolute;
       border: 1px solid #fff;
       border-radius: 26px;
       color: #fff;
       padding: 10px 20px;
       font-size: 24px;
       top: 400px;
       left: 360px;
   }
   
   .employ-talent a:hover {
       color: #91CC18;
       border-color: #91CC18;
   }
   /*关于平欣*/
   
   .about-px {
       background: #81b8b2
   }
   
   .abo {
       position: relative;
   }
   
   .abo-wrap {
       width: 400px;
       height: 180px;
       position: absolute;
       top: 32%;
       left: 8%;
       -webkit-perspective: 400;
   }
   
   .abo img {
       backface-visibility: hidden;
       perspective: 240;
       display: block;
   }
   
   .abo-img1 {
       margin-bottom: 10px;
       transform-origin: top;
       transform: rotateX(180deg);
       transition-delay: .8s;
       transition-duration: .8s;
   }
   
   .abo-img2 {
       float: right;
       transform-origin: bottom;
       transform: rotateX(-180deg);
       transition-delay: 1.6s;
       transition-duration: .8s;
   }
   
   .show-active .abo-img1,
   .show-active .abo-img2 {
       transform: rotateX(0);
   }
   
   .about-px .img-service {
       background: url(../img/index-abo.png) 76% 40%/auto 68% no-repeat;
   }
   
   .inner-service {
       padding: 0 75px;
   }
   
   .con-service p,
   .tec-form p,
   .pro-service p,
   .employ-talent p,
   .about-px p {
       padding-top: 3%;
       padding-bottom: 18px;
       text-align: center;
       font-size: 40px;
   }
   
   @media all and (min-width:1367px) {
       .con-service p,
       .tec-form p,
       .pro-service p,
       .employ-talent p,
       .about-px p {
           padding-top: 5%;
           padding-bottom: 25px;
           text-align: center;
           font-size: 65px;
       }
   }
   
   .img-service {
       height: 550px;
   }
   
   .con-service .img-service {
       background: url(../img/index-con.png) center 20%/auto 80% no-repeat;
   }
   
   .about-px p {
       color: #fff
   }
   
   .float-catalog {
       display: none;
   }
   
   .footer .copyrigt {
       bottom: 16%;
   }
